<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952408192196-6auoma17pb429dls6vrdv6sbj975f4m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952408192196-6auoma17pb429dls6vrdv6sbj975f4m7</string>
	<key>API_KEY</key>
	<string>AIzaSyAAeFq3RrLW8bitC58aJ7Z1N9Ysjlo1Hns</string>
	<key>GCM_SENDER_ID</key>
	<string>952408192196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithAlish.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>firestore-learning-app-2-ddd72</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-learning-app-2-ddd72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952408192196:ios:48f52ad0a1eb40aa334591</string>
</dict>
</plist>